<!-- FILEPATH: /Users/nicpeterson/repos/re-former/app/views/users/new.html.erb -->

<h1>Create a new user</h1>

<h2>Vanilla HTML<h2>
<form action="/users" method="post" accept-charset="UTF-8"> 
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"> 

    <label for="user_username">Username</label> 
    <input type="text" name="user[username]" id="user_username"> 
    <label for="user_email">Email</label> 
    <input type="text" name="user[email]" id="user_email"> 
    <label for="user_password">Password</label> 
    <input type="password" name="user[password]" id="user_password"> 
    <input type="submit" value="Create User"> 
</form>

<h2>Form_tag</h2>
<%= form_tag("/users", method: "post") do %>
    <label for="user_username">Username</label>
    <%= text_field_tag "user[username]", nil, id: "user_username" %>
    <label for="user_email">Email</label>
    <%= text_field_tag "user[email]", nil, id: "user_email" %>
    <label for="user_password">Password</label>
    <%= password_field_tag "user[password]", nil, id: "user_password" %>
    <%= submit_tag "Create User" %>
<% end %>

<h2>Form_with</h2>
<%= form_with model: @user, local: true do |form| %>
  <%= form.label :username %>
  <%= form.text_field :username %>

  <%= form.label :email %>
  <%= form.text_field :email %>

  <%= form.label :password %>
  <%= form.password_field :password %>

  <%= form.submit "Create User" %>
<% end %>